.slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  padding-top: 30px;
  margin-bottom: 70px;

  @media (max-width: 1439px) {
    margin-bottom: 164px;
  }

  @media (max-width: 829px) {
    margin-bottom: 53px;
  }
}

.sliderContainer {
    display: block;
    white-space: nowrap;
}
