@import "../../variables.scss";

.modal {
  max-width: 480px;
  background-color: $secondary-bg;
  border-radius: $border-radius-md;
  border: none;
  padding: 48px 46px;
  box-sizing: border-box;
  margin: 0 auto 20px auto;

  -webkit-box-shadow: 3px 3px 10px 0px $grey;
  -moz-box-shadow: 3px 3px 10px 0px $grey;
  box-shadow: 3px 3px 10px 0px $grey;

  @media (max-width: 829px) {
    max-width: 353px;
    width: 100%;
  }
}

.ulElement {
  padding: 0 0 35px 0;
  margin: 0 0 35px 0;
  border-bottom: 1px solid $primary-color;

  max-height: 296px;
  box-sizing: border-box;
  overflow: auto;
  padding-right: 0px;
}

.listElement {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 22px;

  span {
    color: $secondary-color;
  }
}
